.container{
  margin-bottom: 20px;
  text-align: center;
}
.light{
  color:#E1E1E1
}
.dark
{
  color:#000
}
.lower{
  text-transform: capitalize;
}
.default
{
  text-transform: uppercase;
}
.title
{
font-size: 24px;
}
.heading
{
  font-size: 48px;
  padding: 10px 60px 15px;
  border-bottom: 2px solid;
  display: inline-block;
  font-weight: 700;
}