.container{
  height: 190px;
  width: 100%;
  border: 3px solid var(--textarea_border);
  border-radius: 10px;
  background: transparent;
  color: var(--textarea_color);
  padding: 10px 30px 0;
  font-size: 24px;
  font-family: inherit;
 }