.container{
  background-color: #62554F;
  text-align: center;
}
.cardcontainer{
  display: flex;
    flex-direction: row;
    column-gap: 27px;
    justify-content: center;
}
.card{
  background-color: #E1E1E1;
  height: 315px;
  width: 315px;
  border-radius: 10px;
}
.sep{
  margin-top: 40px;
}
.inner{
  margin-top: 50px;
}