.container{
flex-grow: 1;
position: relative;
/* overflow-y: auto; */
}
.container > div{
    display: flex;
    min-height: 100%;
    padding: 20px 10px 50px;
}
.ribbon
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-image:linear-gradient(90deg, var(--gradient_1) 0%, var(--gradient_1) 25%,  var(--gradient_2) 25%, var(--gradient_2) 50%, var(--gradient_3) 50%, var(--gradient_3) 75%,var(--gradient_4) 75%, var(--gradient_4) 100%);
    background-position: 0 0;
    transition: all 0.3s;
    transition-timing-function: ease-out;
    background-size: 400%;
}