.container{
  height: 68px;
  width: 100%;
  border: 3px solid var(--textbox_border);
  border-radius: 10px;
  background: transparent;
  color: var(--textbox_color);
  padding: 0 30px 0;
  font-size: 24px;
 }