.container{
  background-color: #F4F4F4;
  height:100px;
  flex-shrink: 0;
}
.header{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left{
flex-grow: 1;
font-size: 32px;
    font-weight: 700;
}
.left a{
  color:#000;
  text-decoration: none;
}
.right
{
flex-shrink: 0;
}
.right ul{display: flex;list-style: none;column-gap: 30px;}

.right ul li a{
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  text-transform: uppercase; padding: 5px;border-bottom:3px solid transparent;
  transition: all 0.3s;
}

  .right ul li a:hover,.right ul li a.active{
border-color:#483F40
}  