.container{
  padding: 10px 15px;
  border-radius: 9px;
  border: 0;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: inherit;
}

.default{
  background-color: var(--button_default_bg);
  color: var(--button_default_color);
}

.primary{
  background-color: var(--button_primary_bg);
  color: var(--button_primary_color);
}