.container{
  /* background-color: #62554F; */
  text-align: center;
  composes: fadeIn from './../../App.module.css';
}
.cardcontainer{
    display: flex;
    flex-direction: row;
    column-gap: 27px;
    justify-content: center;
}
.card{
  background-color: var(--card_bg);
  height: 315px;
  width: 315px;
  border-radius: 10px;
}
.sep{
  margin-top: 40px;
}
.inner{
  margin-top: 50px;
}