.container{
  /* background-color: #E1E1E1; */
 composes: fadeIn from './../../App.module.css';
}

.inner{
  padding-top: 80px;
  display: flex;
  flex-direction: row;
}
.left{
flex-shrink: 0;
}
.right
{
  padding-left: 60px;
  flex-grow: 1;
}

.h1{
margin-bottom: 20px;
}

.h2
{
  margin-bottom: 30px;
}

.para{
  margin-bottom: 50px;
}

.btngroup > button
{
  margin-right:10px;
  margin-bottom: 10px;
}