* {
  margin:0; 
  padding:0;
  box-sizing: border-box;
}
body{
  overflow:hidden;
}
.container {
  height:100vh; 
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  letter-spacing: 3px;
}