.container{
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  right: 30px;
  height: 50px;
  width: 50px;
  overflow: hidden;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  border: 1px solid #796060;
  transition: all 0.3s;


}
.container:hover{
  /* transform: scale(1.2); */
}

.light

{
  background: #000;
  color: #fff;
  font-size: 35px;
  --theme_shadow:#000
}
.dark

{
  color: #000;
  font-size: 25px;
  background: #fff;
  --theme_shadow:#fff
}

