* {
  margin:0; 
  padding:0;
  box-sizing: border-box;
}
body{
  overflow:hidden;
}
.container {
  height:100vh; 
  overflow: hidden;
  display: flex;
  flex-direction: column;
  letter-spacing: 3px;
}

.fadeIn
{
  opacity: 0;
  animation-name: animation;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-delay: 0.4s;
}
@keyframes animation
{
  from{opacity: 0;transform: translateY(100px)}
  to{opacity: 1;transform: translateY(0px)}
}