.container{
  /* background-color: #263137; */
  text-align: center;
  composes: fadeIn from './../../App.module.css';
}

.inner{
  width: 600px;
  margin: 50px auto 0;
  text-align: right;
}
.gap1
{
margin-bottom: 20px;
}
.gap2
{
  margin-bottom: 30px;
}