.container{
  height: 190px;
  width: 100%;
  border: 3px solid #F4F4F4;
  border-radius: 10px;
  background: transparent;
  color: #F4F4F4;
  padding: 10px 30px 0;
  font-size: 24px;
  font-family: inherit;
 }