.container{
  padding: 10px 15px;
  border-radius: 9px;
  border: 0;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: inherit;
}

.default{
  background-color: #F4F4F4;
  color: #263137;
}

.primary{
  background-color: #62554F;
  color: #F4F4F4;
}