body{
  --theme_shadow:#fff
}
.light

{
--gradient_1:#E1E1E1;
--gradient_2:#62554F;
--gradient_3:#E1E1E1;
--gradient_4:#263137;
--card_bg:#E1E1E1;
--button_default_bg:#F4F4F4;
--button_default_color:#263137;
--button_primary_bg:#62554F;
--button_primary_color:#F4F4F4;
--textarea_border:#F4F4F4;
--textarea_color:#F4F4F4;
--textbox_border:#F4F4F4;
--textbox_color:#F4F4F4;
--header_bg:#F4F4F4;
--header_link_color:#000;
--header_link_color_hover:#483F40;
--title_light_color:#E1E1E1;
--title_dark_color:#000;
--heading1_color:#000;
--heading2_color:#62554F;
--paragraph_color:#000;
}

.dark
{
  --gradient_1: #29335e;
  --gradient_2: #1b1a1c;
  --gradient_3: #29335e;
  --gradient_4: #1b1a1c;
  --card_bg: #fff;
  --button_default_bg: #291a59;
  --button_default_color: #e2e3e4;
  --button_primary_bg: #8d4524;
  --button_primary_color: #F4F4F4;
  --textarea_border: #454444;
  --textarea_color: #fdfdfd;
  --textbox_border: #454444;
  --textbox_color: #fdfdfd;
  --header_bg: #000;
  --header_link_color: #fff;
  --header_link_color_hover: #fff;
  --title_light_color: #E1E1E1;
  --title_dark_color: #fff;
  --heading1_color: #fff;
  --heading2_color: #f8a57f;
  --paragraph_color: #fff;
}